@using DragonMail.DTO
@model DragonMail.Web.Models.MailViewModel
@{
    ViewBag.Title = "DragonMail";
}

@section meta {
   @if (!string.IsNullOrEmpty(Model.MailBox))
   {
    <meta http-equiv="refresh" content="300;URL=/?mailBox=@Model.MailBox">
   }
}

@section scripts
{
<script type="text/javascript">
    var fileFrame = document.getElementById('FileFrame');
    if (fileFrame){
        var doc = fileFrame.contentWindow.document;
        doc.open();
        doc.write($('#FileSource').html());
        doc.close();
    }
</script>
}

@if (string.IsNullOrEmpty(Model.MailBox))
{
    <div class="jumbotron">
        <h1>DragonMail</h1>
        <p class="lead">Dynamic email</p>
    </div>
}
else
{
    <div class="well">
        <h3>DragonMail for: <span class="label label-default">@Html.ActionLink(Model.MailBox, "Index", new { mailBox = Model.MailBox })</span></h3>
        <h5>(@Model.MailMessages.Count messages)</h5>
       
    </div>
}

@if (Model.MailMessages != null && Model.MailMessages.Count > 0)
{
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">

                @foreach (DSMail mailMessage in Model.MailMessages)
                {
                    string css = "list-group-item";
                    if (Model.SelectedItem != null && mailMessage.id == Model.SelectedItem.id)
                    {
                        css += " active";
                    }
                    <div onclick="location.href ='@Url.Action("Index", "Mail", new { mailBox = Model.MailBox, id = mailMessage.id })'" class="@css">

                        <span class="badge">
                            @(mailMessage.Attachments == null ? 0 : mailMessage.Attachments.Count)
                        </span>
                        <h4 class="list-group-item-heading">@mailMessage.FromName</h4>
                        @Html.ActionLink(mailMessage.SubjectDisplay(), "Index", new { mailBox = Model.MailBox, id = mailMessage.id }, new { @class = "list-group-item-heading" })
                        <p class="lit-group-item-text">@mailMessage.TextPreview()</p>

                    </div>
                }
            </div>
        </div>
        <div class="col-sm-9">
            <div class="jumbotron">
                @if (Model.SelectedItem == null)
                {
                    <span>No Message Selected!</span>
                }
                else {
                    <div class="row">
                        <div class="col-md-12">
                            From: <a href="mailto:@Model.SelectedItem.FromEmail">@Model.SelectedItem.FromName </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Received: @Model.SelectedItem.SentDate
                        </div>
                    </div>
                    if (Model.SelectedItem.Attachments != null && Model.SelectedItem.Attachments.Count > 0)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                Attachments:
                                <ul class="list-group">
                                    @foreach (KeyValuePair<string, int> attachment in Model.SelectedItem.Attachments)
                                    {
                                        <li class="list-group-item">
                                            @Html.ActionLink(string.Format("{0} {1}", attachment.Key,attachment.Value.GetReadableFileSize()),
                                           "Download", new { id = Model.SelectedItem.id, fileName = attachment.Key })
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@Model.SelectedItem.SubjectDisplay():</h3>
                                </div>
                                <div class="panel-body">
                                    @if (!string.IsNullOrEmpty(Model.SelectedItem.HtmlBody))
                                    {
                                        <iframe id="FileFrame" src="about:blank" style="border:0;width:100%;height:1000px"></iframe>
                                        <script id="FileSource" type="text/template">
                                            @Html.Raw(Model.SelectedItem.HtmlBody)
                                        </script>
                                    }
                                    else {
                                        @Html.Raw(Model.SelectedItem.TextBody);
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}